{
  "plugins": [
    "transform-runtime",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ],
  "presets": ["@babel/preset-env"]
}
